// Body
body {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Wrapper
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	overflow: hidden;
}

.main {
	flex-grow: 1;
}

// Container
.container {
	margin: 0 auto;

	max-width: 1470px;
	padding: 0 15px;
}

// Global Styles

.disable-scroll {
	overflow: hidden !important;
}

.border-bottom-line {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -6px;

		height: 1px;
		width: 100%;

		background: #000;
		border-radius: 5px;
		transform: scaleX(0);
		@include trans(transform);

		transform-origin: right bottom;
	}

	@include hover {
		&::before {
			transform: scaleX(1);
			transform-origin: left bottom;
		}
	}
}

.reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.grid-background {
	$gridBgColor: #1c1c28;
	$gridLineColor: #393953;
	$gridLinesSize: 24px;

	background-color: $gridBgColor;
	background-size: $gridLinesSize $gridLinesSize;
	background-image: linear-gradient(
			to right,
			$gridLineColor 1px,
			transparent 1px
		),
		linear-gradient(to bottom, $gridLineColor 1px, transparent 1px);
}

.btn {
	padding: 12px 16px;
	border-radius: 7px;

	font-family: 'Circular Std', serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -0.176px;

	text-align: center;
	white-space: nowrap;
}
.btn--blue {
	background-color: $accent-brand;
	color: #fff;
}

.btn--gray {
	background-color: $background-secondary;
}

.btn--with-arrow {
	display: grid;
	grid-area: 12px;
	align-items: center;
}

.burger {
	width: 24px;
	height: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	// .burger__line

	&__line {
		height: 2px;
		width: 100%;
		background-color: #fff;
		border-radius: 2px;
	}
}
