<header class="header">
	<div class="container header__container">
		<div class="logo header__logo">
			<img
				src="assets/img/content/header/headerLogo.svg"
				alt="logo"
				class="logo__img header__logo-img"
			/>
		</div>
		<div class="header__navigation">
			<button class="burger header__navigation-burger">
				<span class="burger__line"></span>
				<span class="burger__line"></span>
				<span class="burger__line"></span>
			</button>
			<nav>
				<ul class="menu header__menu reset-list">
					<li>
						<a href="#" class="menu__link">Discover initiatives</a>
					</li>
					<li>
						<a href="#" class="menu__link">Funded grants</a>
					</li>
					<li>
						<a href="#" class="menu__link">Program expenses</a>
					</li>
					<li>
						<a href="#" class="menu__link">Blog</a>
					</li>
					<li>
						<a href="#" class="menu__link">FAQ</a>
					</li>
				</ul>
			</nav>
		</div>
		<button
			class="btn btn--blue btn--blue_state_hover btn--blue_state_active header__btn"
		>
			Apply <span>for grant</span>
		</button>
		<button class="burger header__burger">
			<span class="burger__line"></span>
			<span class="burger__line"></span>
			<span class="burger__line"></span>
		</button>
	</div>
</header>
