<section class="hero">
	<div class="hero__container container">
		<h1 class="hero__title title-1 hero__title--with-icon hero__title--fixed">
			Powering the future of dYdX&nbsp; through community grants
		</h1>
		<div class="hero__buttons">
			<button class="hero__btn btn btn--gray">Discover RFPs</button>
			<button class="hero__btn btn btn--blue btn--with-arrow">
				<span>Apply for grant</span>
				<svg class="btn-small-arrow btn-white-arrow">
					<use href="./assets/img/svg/sprite.svg#arrow-right-icon"></use>
				</svg>
			</button>
		</div>
		<ul class="hero__projects projects reset-list">
			<li class="projects__item">
				<span class="projects__item-title">100+</span>
				<span class="projects__item-desc">projects funded</span>
			</li>
			<li class="projects__item">
				<span class="projects__item-title">$3+ milion</span>
				<span class="projects__item-desc">awarded</span>
			</li>
			<li class="projects__item">
				<span class="projects__item-title">400+</span>
				<span class="projects__item-desc">projects funded</span>
			</li>
		</ul>
	</div>
	<div class="hero__scroll-wrapper">
		<img
			class="hero__scroll-img"
			width="32"
			height="100"
			src="./assets/img/svg/arrow-down.svg"
			aria-hidden="true"
			alt="scroll arrow"
		/>
	</div>
</section>
