.header {
	padding: 24px 0;
	// .header__container

	&__container {
		display: flex;
		align-items: center;
	}

	// .header__logo

	&__logo {
		width: 112px;
		height: 66px;
		margin-right: 28px;
		@media screen and (max-width: 1200px) {
			width: 100px;
			height: 50px;
		}
		@media screen and (max-width: 1200px) {
			width: 75px;
			height: 45px;
		}
	}

	// .header__logo-img

	&__logo-img {
	}

	// .header__navigation

	&__navigation {
		margin-left: auto;
		margin-right: 28px;

		@media screen and (max-width: 992px) {
			position: fixed;
			z-index: 3;
			max-width: 360px;
			min-width: 300px;
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			margin-right: 0;
			margin-left: 0;

			padding: 40px 15px;

			overflow-y: auto;

			background: rgba(16, 14, 14, 0.7);
			box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(5px);
			-webkit-backdrop-filter: blur(5px);

			transform: translate3d(calc(100% + 50px), 0, 0);

			transition: transform 300ms ease-in-out;

			&.opened {
				transform: translateX(0);
			}
		}
	}

	// .header__navigation
	&__navigation-burger {
		display: none;
		z-index: 4;
		@media screen and (max-width: 992px) {
			display: flex;
			position: sticky;
			top: 0px;
			margin-left: auto;
			margin-right: 10px;
			margin-bottom: 20px;
		}
	}

	// .header__menu

	&__menu {
		gap: 10px 32px;
		@media screen and (max-width: 1200px) {
			gap: 10px 25px;
		}
		@media screen and (max-width: 992px) {
			flex-direction: column;
			gap: 15px;
			text-align: center;
		}
	}

	// .header__btn

	&__btn {
		@media screen and (max-width: 992px) {
			margin-left: auto;
		}
		& > span {
			@media screen and (max-width: 375px) {
				display: none;
			}
		}
	}

	// .header__burger

	&__burger {
		margin-left: 28px;
		display: none;
		@media screen and (max-width: 992px) {
			z-index: 2;
			display: flex;
		}
	}
}
.logo {
	// .logo__img

	&__img {
	}
}

.menu {
	display: flex;
	flex-wrap: wrap;

	// .menu__link

	&__link {
		font-family: 'Space Mono', serif;
		font-size: 16px;
		line-height: 1.5;
		color: $text-icon-secondary;
	}
}
