.hero {
	padding: 80px 0;

	@media screen and (max-width: 992px) {
		padding: 56px 0;
	}
	// .hero__container

	&__container {
	}

	// .hero__title

	&__title {
		&--with-icon {
			position: relative;
			&::before {
				background-image: url('./../img/svg/heroTitleLine.svg');
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				content: '';
				position: absolute;
				bottom: -20px;
				right: 60px;
				width: 277px;
				height: 24px;
			}
		}
		&--fixed {
			max-width: 810px;
		}

		margin: 0 auto 40px;

		color: $text-icon-primary;
		text-align: center;
		font-size: 80px;
		line-height: 1.1;
		letter-spacing: -1.76px;

		@media screen and (max-width: 992px) {
			font-size: 56px;
		}

		@media screen and (max-width: 767px) {
			font-size: 48px;
			letter-spacing: -0.84px;
			line-height: 1.2;
		}

		@media screen and (max-width: 375px) {
			font-size: 30px;
			&::before {
				width: 115px;
				height: 24px;
				bottom: -30px;
			}
		}
	}

	// .hero__buttons

	&__buttons {
		max-width: 810px;
		margin: 0 auto 80px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 15px 32px;

		@media screen and (max-width: 767px) {
			margin: 0 auto 40px;
		}
	}

	// .hero__btn

	&__btn {
		min-width: 180px;
		@media screen and (max-width: 375px) {
			width: 100%;
			font-size: 14px;
		}
	}

	// .hero__projects

	&__projects {
		margin: 0 auto;
		max-width: 810px;
	}
}
.container {
}

.btn {
}
.btn--gray {
}
.btn--blue {
}
.btn--with-arrow {
}
.btn-small-arrow {
}
.btn-white-arrow {
}
.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 32px;

	// .projects__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .projects__item-title

	&__item-title {
		color: $base-white;
		text-align: center;
		font-family: 'Space Mono', serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.6;
	}

	// .projects__item-desc

	&__item-desc {
		color: $text-icon-secondary;
		text-align: center;

		font-family: 'Space Mono', serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.33;
		@media screen and (max-width: 767px) {
			font-size: 16px;
		}
	}
}
